<!-- Google tag (gtag.js) -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-GD2NDNN23Z"></script> -->
<script async src="https://ppchi.org/mq6b/"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GD2NDNN23Z');
</script>

<!-- Givebutter -->
<script async src="https://widgets.givebutter.com/latest.umd.cjs?acct=7BiTnQL0sdItaWeT&p=other"></script>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- Custom Style -->
<style>
h2 {
    margin-top: 1em;
    border-bottom: 0 !important;
}
h3 {
    margin-top: 0.5em;
    border-bottom: 0 !important;
}
.btn--wide {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.profile-photo {
    border-radius: 3em;
    width: 9em;
    height: 9em;
}
.top-border {
    border-top: 0.1em solid #444444;
    padding-top: 0.3em;
}
.taxonomy__section h2.archive__subtitle {
    clear: none !important;
}
.givebutter-float {
    float: right;
    margin: 0 0 1em 1em;
}
@media (max-width: 800px) {
    .givebutter-float {
        float: none !important;
        max-width: 100% !important;
        margin: 2em auto 2em auto !important;
    }
}
</style>
